h1 oh hayyyyy

form
    input(type='text', name='name', placeholder='enter name here')
    input(type='text', name='text', placeholder='and message here')
    input(type='submit')

ul


script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')
